*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title {
    font-size: 3.5rem;
    text-align: center;
    background: linear-gradient(to right, #33ccff -55%, #000066 100%);
    color: white;
    padding: 7px;
}

.card {
    border: none;
}

.card-title {
    font-size: 2.2rem;
    margin: 10px;
    position: relative;
    left: 8px;
    top: 18px;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 0.3rem; 
} 

.searchbtn {
    font-size: 1.3rem;
    padding: 6px 5px;
    width: 100%;
    margin: 5px 0;
    border-radius: 0.3rem;
    background-color: rgb(77, 154, 230);
    color: rgb(225, 225, 225);
}

.searchbtn:hover {
    background-color: rgb(145, 191, 237);
    color: rgb(225, 225, 225);
}
